$full-bg-color: #f5f5f5
$block-bg-color: #ffffff
$font-color: #373e40
$theme-primary-color: #00b38c
$theme-primary-color-light: #ecf5ff

$theme-default-color: #c0c1c2

$green-color: #1dbf60
$red-color: #f24957

$gray-color: #dcdcdc

$font-gray-color: #a9a9a9

$theme-font-color: #00b0f0;

$font: FDCfont,"Microsoft YaHei",Arial,sans-serif;