.cf-table
  padding: 0 10px;
  .body_list
    padding: 0 10px;
    width: 100%;
    display: table;
    >dt
      float: left;
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      text-align: right;
      width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
  #table_list
    >dd
      float: left;
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      text-align: right;
      width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;