.fl-block
  background-color: $theme-primary-color
  width: 100%;
  display: flex;
  flex-direction: column
  color: #fff
  align-items: center
  padding: 50px 0
  p
    line-height: unset
    margin: 0
  .fl-hd
    font-size: 24px
.reverse-fl-block
  color: $font-color
  background-color: #fff
.ui.button.default-btn
  background-color: #fff;
  color: $theme-primary-color;
.ui.button.primary-btn
  background-color: $theme-primary-color;
  color: #fff;
.coin-market-wrapper
  display: flex;
  width: 100%;
.item
  text-align: center
  img
    border-radius: 20px;
.color-up
  color: $green-color
.color-down
  color: $red-color
.primary-color
  color: $theme-font-color;
.item-8
  width: 12.5%
.item-4
  width: 25%
.item-5
  width: 20%