.ui.button.default-btn-simple
  background-color: #fff
  border: 1px solid $theme-primary-color
  color: $theme-primary-color
.filter
  margin-top: 50px
  display: flex
  align-items: left
  width: 80%
  .fl-form-item
    width: 200px
    label
      color: $font-gray-color
    >div
      margin-left: 10px
      .text
        color: $theme-primary-color
.header-container
  width: 80%
  display: flex
  .item-3
    width: 33.333%
    min-height: 1px
.table-container
  margin-top: 15px
  width: 80%
  .market-table.ui.basic.table
    border-radius: 0px;
    thead
      background-color: rgba(220,220,220, .3)
      tr
        &:first-child>th:first-child
          border-radius: 0
        &:first-child>th:last-child
          border-radius: 0
.ui.primary .button.action-btn
  background-color: $theme-primary-color
.ui.dropdown>.text
  color: $theme-primary-color;
.attr-tag
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #f4911a;
  color: #f4911a;
  font-size: 12px;
  margin: 5px;
  border-radius: 10px;
#mainContainer
  .ui.primary.button
    background-color: #0d1319;
    color: #f4911a;
.unavailable-btn
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-block;